<header class="navbar">
  <div class="logo">
    <a href="/">Portfolio</a>
  </div>

  <!-- Hamburger -->
  <div class="menu-toggle" id="menu-toggle">
    ☰
  </div>

  <nav id="nav-menu">
    <a href="/">Home</a>
    <a href="/skills/">Skills</a>
    <a href="/software-development/">Software Projects</a>
    <a href="/machine-learning/">ML projects</a>
    <a href="/research/">Research</a>
    <a href="#contact" class="nav-contact">Contact</a>
  </nav>

  <div class="socials">

    <!-- Github -->
    <a href="https://github.com/Niloy077"
       target="_blank"
       aria-label="LinkedIn">
      <i class="fab fa-github"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/niloy-biswas-620b7b2a7/"
      target="_blank"
      aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>

    <!-- Email (copy) -->
    <div class="social-item">
      <a href="#" id="email-copy" aria-label="Copy Email">
        <i class="far fa-envelope"></i>
      </a>
      <span class="copy-toast">Email copied!</span>
    </div>

    <!-- WhatsApp -->
    <a href="https://wa.me/8801824872011"
       target="_blank"
       aria-label="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>

  </div>
</header>
